@import 'ngx-toastr/toastr';

html, body {
    background-color: gainsboro;
  }
  
  .container {
    max-width: 100%;
    overflow-y: auto; /* Asegura el scroll en los contenedores */
  }
  
  .card {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .form-control {
    width: 100%;
  }
  app-root {
    height: 100%;
    overflow-y: auto;
  }
    