<div class="header-container">
    <div class="header">
        <div class="navbar-left">
            <div class="logo"><img src="../../../assets/UTNnav.png" alt="Logo" class="logo-image"></div>
            <div><a routerLink="incioAdmin">Inicio</a></div>
            <div><a routerLink="mantenimiento">Mantenimiento</a></div>
            <div><a routerLink="crear-orden">Crear Orden</a></div>
            <div><a routerLink="usuarios">Usuarios</a></div>
            <div><a routerLink="ordenes">Ordenes</a></div>
        </div>
        <div class="navbar-right">
            <div class="sign-in"><a routerLink="inicio-sesion">Cerrar Sesión</a></div>
        </div>
    </div>
</div>

<main class="content px-3 py-2">
    <div class="container-fluid">
        <div class="mb-3">
            <h4>Panel de Administrador</h4>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 d-flex">
                <div class="card flex-fill border-0 illustration">
                    <div class="card-body p-0 d-flex flex-fill">
                        <div class="row g-0 w-100">
                            <div class="col-6">
                                <div class="p-3 m-1">
                                    <h4>Bienvenido Administrador</h4>
                                    <p class="mb-0">Tienes el rol de administrador.</p>
                                </div>
                            </div>
                            <div class="col-6 align-self-end text-end">
                                <img src="../../../assets/admin.png" class="img-fluid illustration-img"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>