<div class="header-container">
    <div class="header">
        <div class="navbar-left">
            <div class="logo"><img src="../../../../assets/UTNnav.png" alt="Logo" class="logo-image"></div>
            <div><a routerLink="incioAdmin">Inicio</a></div>
            <div><a routerLink="mantenimiento">Mantenimiento</a></div>
            <div><a routerLink="crear-orden">Crear Orden</a></div>
            <div><a routerLink="usuarios">Usuarios</a></div>
            <div><a routerLink="ordenes">Ordenes</a></div>
        </div>
        <div class="navbar-right">
            <div class="sign-in"><a routerLink="inicio-sesion">Cerrar Sesión</a></div>
        </div>
    </div>
</div>